.fieldset {
  min-height: 650px;
  width: 390px;

  legend {
    font-size: 0.8rem;
    margin-bottom: 0.7rem;
  }
}

.form-switch-container {
  display: flex;
  margin-left: 2.5rem;
  margin-top: 0.6rem;
  align-items: center;
  gap: 28px;
  font-size: 0.8rem;

  span {
    color: grey;
  }
}

.checkbox {
  display: inline-grid;
  place-content: center;
  appearance: none;
  margin: 0;
  width: 14px;
  height: 14px;
  border: 1px solid gray;
  border-radius: 50%;
  transform: translateY(-2px);

  &::before {
    content: '';
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em black;
  }

  &:checked::before {
    transform: scale(1);
  }
}

.label {
  margin-left: 12px;
  font-weight: bold;
}

.form-check {
  padding-left: 0.8rem !important;
  margin-bottom: 0.25rem !important;
  input,
  label {
    cursor: pointer;
  }
}

.form-check-input.switch-custom {
  width: 2.2rem !important;
  height: 1.2rem;
  padding: 0;
  margin: 0;
  background-size: 20px;
  background-image: url('../../assets/switch-on.svg') !important;
  background-color: rgb(214, 214, 214);
  border-color: rgb(214, 214, 214);

  &:checked {
    background-color: #eba800;
    border-color: #eba800;
    // background-image: url('../../assets/switch-on.svg') !important;
  }

  &:focus {
    box-shadow: none;
    border-color: transparent;
  }
}

.form-check.form-switch {
  display: flex;
  align-items: center;
  .form-check-label {
    font-weight: bold;
    margin-top: 5px;
    font-weight: 600;
    color: black;
    margin-bottom: 0;
    display: inline-block;
    margin-left: 5px;
  }
}

.currency {
  margin-left: 2.5rem;
  padding-left: 0 !important;
  margin-top: 15px !important;
  margin-bottom: 24px !important;

  input {
    border: 2px solid grey;
    border-radius: 2rem;
    padding-left: .8rem;
    min-width: 10rem;
    width: 0;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  label {
    margin-left: 10px;
    font-size: 1.2rem;
    font-weight: 600;
  }
}
