.fieldset {
  min-height: 350px;
  width: 360px;

  legend {
    font-size: 1rem;
  }
}

.form-switch-container {
  display: flex;
  margin-left: 2.5rem;
  align-items: center;
  gap: 10px;
  font-size: 0.8rem;

  span {
    color: grey;
  }
}

.checkbox {
  display: inline-grid;
  place-content: center;
  appearance: none;
  margin: 0;
  width: 18px;
  height: 18px;
  border: 2px solid gray;
  border-radius: 50%;

  &::before {
    content: '';
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em black;
  }

  &:checked::before {
    transform: scale(1);
  }
}

.label {
  margin-left: 10px;
  font-weight: bold;
}

.form-check-input.switch-custom {
  width: 2.2rem !important;
  height: 1.2rem;
  padding: 0;
  margin: 0;
  &:checked {
    background-color: #eba800;
    border-color: #eba800;
  }

  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(253, 181, 13, 0.25);
  }
}

.form-check.form-switch {
  display: flex;
  align-items: center;
  .form-label {
    font-weight: bold;
    margin-bottom: 0;
    display: inline-block;
    margin-left: 5px;
  }
}

.currency {
  margin-left: 2.5rem;
  padding-left: 0 !important;
  margin-bottom: 15px !important;

  input {
    border: 2px solid grey;
    border-radius: 2rem;
    padding-left: 1.2rem;
    min-width: 11rem;
    width: 0;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  label {
    margin-left: 10px;
    font-size: 1.2rem;
    font-weight: 600;
  }
}
