.tooltip-btn {
  background-color: transparent;
  border: none;
}

.tooltip {
  --bs-tooltip-opacity: 1 !important;
  left: 10px !important;

  .tooltip-arrow {
    --bs-tooltip-arrow-width: 1.3rem;
    --bs-tooltip-arrow-height: 0.8rem;
    --bs-tooltip-arrow-width: 1.26rem;
    --bs-tooltip-bg: hsl(230.77deg 31.97% 52.16%);
    left: 3px !important;
    top: 1px !important;
    transform: rotate(90deg) !important;

    &:before {
      bottom: 0px !important;
    }
  }

  .tooltip-inner {
    --bs-tooltip-opacity: 1;
    max-width: 220px !important;
    padding: 20px 15px;
    font-size: 0.8rem;
    background-color: hsl(230.77deg 31.97% 52.16%);
    border-radius: 0;
    text-align: left;
  }
}

.icon {
  width: 20px;
  height: 20px;
  position: relative;
  top: -1px;
  left: 2px;

  &:hover {
    color: hsl(230.77deg 31.97% 52.16%);
    transition: .3s;
  }
}